#dialogPlaceholder{
  position: fixed;
}

.Overlay{
  position:fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.3);
}

.dialog{
position: relative;
top:50%;
left:50%;
transform: translate(-50%,-50%);
height:60%;
width:60%;
background-color: white;
box-shadow: 0 0 10px rgba(0,0,0,0.2);
z-index: 120;
}